@import "bbq-variables.less";
@import "bbq-mixins.less";

// Global Components

body {
	.body-font;
	background-color: #071122;
	-webkit-font-smoothing: antialiased;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
	color: @gray;
}


p {
	font-size: 14px;
	line-height: 1.3;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@background, 10%);
}

// h1, h2, h3, h4, h5, h6 {
// 	.heading-font;
// 	font-weight: 700;
// }

.quickmix-bbq-logo {
  display: block;
  width: 260px;
	height: 50px;
	background-image: url('../img/bbq/quickmix-bbq-logo.png');
	background-repeat: no-repeat;
	background-position: center;
  background-size: 260px;
  font-size: 0;
	margin: 0 auto;
	margin-top: 30px;
}


.collab-text {
	// margin: 0 auto;
	max-width: 480px;
	padding: 0px 10px 0px 10px;
	// text-align: center;

	div.label {
		font-size: 14px;
		color: @hangout-light;
		letter-spacing: 0.5px;
		padding-left: 0;
		text-transform: uppercase;
	}
	p {
		color: white;
		font-size: 16px;
		margin-top: 0px;
		padding-top: 0px;
	}
}

.img-centered {
	margin: 0 auto;
}

.col-md-6{
	padding: 0;
}

.steps-container {
	max-width: 500px;
	margin: 0 auto;
}

header {
	color: white;
	h1{
		font-size: 26px;
		line-height: 127%;
	    margin: 60px auto 50px auto;
    	max-width: 320px;
	}
	h2{
		// font-size: 32px;
		font-size: 20px;
		font-weight: 500;
		line-height: 130%;
	  margin: 16px auto 50px auto;
    max-width: 480px;
		text-align: center;
	}
	h3 {
		color: @hangout-light;
		margin-bottom: 4px !important;
		font-size: 20px;
	}
	h3 .step-number {
		color: @gray-dark;
		background-color: @hangout-light;
		// display: block;
		display: inline-block;
		padding: 5px;
		// width: 26px;
		// height: 26px;
		width: 20px;
		height: 20px;
		// font-size: 18px;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		border-radius: 50%;
		margin-bottom: 10px;
		font-weight: 700;
		vertical-align: top;
	}
	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 130%;
    max-width: 480px;
		margin-top: 0px;
	}
	.type-intro {
		margin: 0 auto;
		margin-top: 70px;
		text-align: center;
	}
}

.bbq-header {
	// background: linear-gradient(to top, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), url('../img/bbq/bbq-header-bg.jpg');
	background: linear-gradient(to top, rgba(13, 38, 131, 1), rgba(13, 38, 131, 0)), url('../img/bbq/bbq-header-bg.jpg');
	background-position: center center, center center;
	background-repeat: no-repeat, no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



p.solar-eclipse:before {
	position: relative;
  // content: url('../img/bbq/eclipse.png');
	// width: 19px;
	// height: 19px;
	top: 6px;
	left: -5px;
	background-image: url('../img/bbq/eclipse.png');
	background-size: 24px 24px;
	display: inline-block;
	width: 24px;
	height: 24px;
	content:"";
}

p.solar-eclipse {
	// padding-left: 30px;
}

#btn-chill{
	color: @chill-dark;
	background-color: @chill-light;
}

#btn-party{
	color: @party-dark;
	background-color: @party-light;
}

#btn-feel-good{
	color: darken(#8D8FFF, 10%);
	background-color: #8D8FFF;
}

#btn-hangout{
	color: @hangout-dark;
	background-color: @hangout-light;
}

.no-touchevents a#btn-chill:hover {
	color: darken(@chill-dark, 10%);
}
.no-touchevents a#btn-party:hover {
	color: darken(@party-dark, 10%);
}
.no-touchevents a#btn-feel-good:hover {
	color: darken(#8D8FFF, 16%);
}
.no-touchevents a#btn-hangout:hover {
	color: darken(@hangout-dark, 10%);
}


.btn-mood{
	width: 100%;
	border-radius: 0;
	height: 70px;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 70px;
	padding: 0 20px;
	letter-spacing: 0.75px;
	.mood-font;
}

.playlist-option{
	width:100%;
	margin: 0 auto;
	text-align: center;
}

footer {
	max-width: 500px;
	color: #FFF;
  margin: 40px auto 50px auto;


	ul {
		list-style: none;
		margin: 5px 0;
		padding: 0;
	}
	h4 {
		padding-top: 20px;
	}
	a {
		font-size: 16px;
		line-height: 1.3;
		color: #fff;
		font-weight: 500;
	}
	a:hover {
		color: #fff;
	}

}

.bbq-buttons {
	margin-top: 30px;
}

h1#build-message {
	height: 100px;
	font-size: 24px;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.build-content-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
		color: #fff;
		text-align: center;
}

@media only screen and (min-width:600px) {
	div.label {
		font-size: 16px;
	}

	h1#build-message {
		height: 100px;
		font-size: 36px;
		width: 80%;
		margin: 0 auto;
		margin-top: 16px;
	}

	.build-content-inner {
	    max-width: 540px;
	}

	.btn-mood{
		width: auto;
		margin: 0 auto;
		font-size: 30px;
		margin: 4px;
		border-radius: 8px;
	}
	header {
		h1{
			font-size: 46px;
			line-height: 130%;
		    margin: 60px auto 80px auto;
	    	max-width: 630px;
		}
		p {
			font-size: 24px;
		}
	}
	.bbq-buttons {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
		margin-top: 30px;
	}
	.playlist-option {
		width: auto;
		margin: auto;
		display: inline-block;
	}
	.quickmix-bbq-logo {
	  display: block;
	  width: 375px;
		height: 72px;
	  background-image: url('../img/bbq/quickmix-bbq-logo.png');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 375px;
	  font-size: 0;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 10px;
	}

}

@media only screen and (min-width:768px) {
	.steps-container {
		max-width: none;
		// margin: 0 auto;
	}
	.overlay-content {
		img {
			width: 84px;
			height: 84px;
		}
		h1 {
			width: 540px;
			font-size: 45px;
			margin: 29px auto;
	    }
	}
	header {

		margin: 0;

		h3 .step-number {
			display: block;
			width: 26px;
			height: 26px;
			font-size: 18px;
			line-height: 1;
			margin-bottom: 10px;
			font-weight: 500;
			vertical-align: top;
		}
		h2 {
			font-size: 24px;
		}
		h3 {
			font-size: 24px;
		}
	}
}


@media only screen and (min-width:992px) {
}

@media only screen and (min-width:1440px) {
	header {
		h1{
			font-size: 70px;
			line-height: 129%;
		    margin: 100px auto 150px auto;
	    	max-width: 950px;
		}
	}
}


/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	img {
		width: 66px;
		height: 66px;
	}
	h1 {
		width: 275px;
		font-size: 26px;
		font-weight: 700;
		margin: 18px auto;
		color: white;
    }
}

#spotifyOverlay {
	height: 0;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.3s;
}

.build-content {
	height: 100%;
	width: 100%;
	display: table;
	left: 0;
	top: 0;
	background-color: @hangout-light
}

.build-content-middle {
    display: table-cell;
    vertical-align: middle;
}

body.home #outer-circle-layers {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
		transform-origin: center;
}
body.home #inner-circle-layers {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
		transform-origin: center;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



// Social Buttons

ul.social-buttons {
	margin-bottom: 0;
	li {
		a {
			display: block;
			background-color: black;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			font-size: 20px;
			line-height: 40px;
			color: white;
			outline: none;
	        -webkit-transition: all 0.3s;
	        -moz-transition: all 0.3s;
	        transition: all 0.3s;
	        &:hover,
	        &:focus,
	        &:active {
				background-color: blue;
	        }
		}
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
