@import "bbq-variables.less";
@import "bbq-mixins.less";

// Global Components

body {
	.body-font;
	background-color: @background;
	-webkit-font-smoothing: antialiased;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
	color: @gray;
}

.quickmix-logo {
  display: block;
  width: 269px;
	height: 59px;
  background-image: url('../img/quickmix-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 269px;
  font-size: 0;
	margin: 20px 0 20px 0;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

p.subhead {
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.45px;
	line-height: 120%;
	margin: 30px 0;
}

p.option-intro {
	margin-top: 70px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@background, 10%);
}

h1, h2, h3, h4, h5, h6 {
	.heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.col-md-6{
	padding: 0;
}

#btn-chill{
	color: @chill-dark;
	background-color: @chill-light;
}

#btn-party{
	color: @party-dark;
	background-color: @party-light;
}

#btn-workout{
	color: @workout-dark;
	background-color: @workout-light;
}

#btn-hangout{
	color: @hangout-dark;
	background-color: @hangout-light;
}

#btn-bbq{
	color: @hangout-light;
	background-color: #fff;
}

.bbq-option {
	display: block;
	width: 249px;
	height: 57px;
	background-image: url('../img/bbq-option.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 249px;
	font-size: 0;
	margin: 14px 0;
}

span.labor-day {
	text-align: right;
}

.no-touchevents a#btn-chill:hover {
	color: darken(@chill-dark, 10%);
}
.no-touchevents a#btn-party:hover {
	color: darken(@party-dark, 10%);
}
.no-touchevents a#btn-workout:hover {
	color: darken(@workout-dark, 10%);
}
.no-touchevents a#btn-hangout:hover {
	color: darken(@hangout-dark, 10%);
}
// .no-touchevents a#btn-bbq:hover {
// 	color: darken(#fff, 10%);
// }


.btn-mood{
	width: 100%;
	border-radius: 0;
	height: 89px;
	font-size: 30px;
	line-height: 89px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0;
	text-align: left;
	padding-left: 15px;
	.mood-font;
}

.playlist-option{
	width:100%;
	margin: 0 auto;
}

footer {
	color: #FFF;
  margin: 40px auto 50px auto;

	ul {
		list-style: none;
		margin: 5px 0;
		padding: 0;
	}
	h4 {
		padding-top: 20px;
	}
	a {
		font-size: 16px;
		line-height: 1.3;
		color: #fff;
		font-weight: 500;
	}
	a:hover {
		color: #fff;
	}
	p {
		max-width: 400px;
		line-height: 1.3;
	}

}

@media only screen and (min-width:768px) {
	.playlist-option{
		padding: 5px 15px;
	}
	.btn-mood {
		border-radius: 6px;
	}
	.quickmix-logo {
		margin: 40px 0 20px 0;
	}

}


@media only screen and (min-width:992px) {
	.playlist-option{
		width: 100%;
	}
}

@media only screen and (min-width:1440px) {
	.btn-mood{
		height: 89px;
		font-size: 30px;
		line-height: 89px;
	}
}



/* The Overlay (background) */
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(7,11,19); /* Black fallback color */
    background-color: rgba(7,11,19,.94); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s;
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	img {
		width: 66px;
		height: 66px;
	}
	h1 {
		width: 275px;
		font-size: 26px;
		font-weight: 700;
		margin: 18px auto;
		color: white;
    }
}

@media only screen and (min-width:768px) {
	.overlay-content {
		img {
			width: 84px;
			height: 84px;
		}
		h1 {
			width: 540px;
			font-size: 45px;
			margin: 29px auto;
	    }
	}
}


.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
