body {
  font-family: 'Work Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #131D31;
  -webkit-font-smoothing: antialiased;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.text-muted {
  color: #999999;
}
.quickmix-logo {
  display: block;
  width: 269px;
  height: 59px;
  background-image: url('../img/quickmix-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 269px;
  font-size: 0;
  margin: 20px 0 20px 0;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
p.subhead {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.45px;
  line-height: 120%;
  margin: 30px 0;
}
p.option-intro {
  margin-top: 70px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #05070c;
}
.img-centered {
  margin: 0 auto;
}
.col-md-6 {
  padding: 0;
}
#btn-chill {
  color: #0000FE;
  background-color: #0066FF;
}
#btn-party {
  color: #FF9201;
  background-color: #FFE001;
}
#btn-workout {
  color: #E900FF;
  background-color: #FF73FF;
}
#btn-hangout {
  color: #13B183;
  background-color: #2FE7B1;
}
#btn-bbq {
  color: #2FE7B1;
  background-color: #fff;
}
.bbq-option {
  display: block;
  width: 249px;
  height: 57px;
  background-image: url('../img/bbq-option.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 249px;
  font-size: 0;
  margin: 14px 0;
}
span.labor-day {
  text-align: right;
}
.no-touchevents a#btn-chill:hover {
  color: #0000cb;
}
.no-touchevents a#btn-party:hover {
  color: #cd7500;
}
.no-touchevents a#btn-workout:hover {
  color: #ba00cc;
}
.no-touchevents a#btn-hangout:hover {
  color: #0e8361;
}
.btn-mood {
  width: 100%;
  border-radius: 0;
  height: 89px;
  font-size: 30px;
  line-height: 89px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  padding-left: 15px;
  font-family: "Work Sans", -apple-system, 'BlinkMacSystemFont', 'Source Sans Pro', sans-serif;
}
.playlist-option {
  width: 100%;
  margin: 0 auto;
}
footer {
  color: #FFF;
  margin: 40px auto 50px auto;
}
footer ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
footer h4 {
  padding-top: 20px;
}
footer a {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 500;
}
footer a:hover {
  color: #fff;
}
footer p {
  max-width: 400px;
  line-height: 1.3;
}
@media only screen and (min-width: 768px) {
  .playlist-option {
    padding: 5px 15px;
  }
  .btn-mood {
    border-radius: 6px;
  }
  .quickmix-logo {
    margin: 40px 0 20px 0;
  }
}
@media only screen and (min-width: 992px) {
  .playlist-option {
    width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .btn-mood {
    height: 89px;
    font-size: 30px;
    line-height: 89px;
  }
}
/* The Overlay (background) */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #070b13;
  /* Black fallback color */
  background-color: rgba(7, 11, 19, 0.94);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.3s;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
}
.overlay-content img {
  width: 66px;
  height: 66px;
}
.overlay-content h1 {
  width: 275px;
  font-size: 26px;
  font-weight: 700;
  margin: 18px auto;
  color: white;
}
@media only screen and (min-width: 768px) {
  .overlay-content img {
    width: 84px;
    height: 84px;
  }
  .overlay-content h1 {
    width: 540px;
    font-size: 45px;
    margin: 29px auto;
  }
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
/* The Overlay (background) */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #2FE7B1;
  transition: 0.3s;
}
#spotifyOverlay {
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.3s;
}
h1#spotifyOverlayText {
  height: 100px;
}
.build-content {
  height: 100%;
  width: 100%;
  display: table;
  left: 0;
  top: 0;
  background-color: #2FE7B1;
}
.build-content-middle {
  display: table-cell;
  vertical-align: middle;
}
.build-content-inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: #fff;
  text-align: center;
}
h1#build-message {
  height: 100px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}
#outer-circle-layers {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  transform-origin: center;
}
#inner-circle-layers {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  transform-origin: center;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */