<!doctype html>
<html>
  <head>
    <title>Tune</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/tune.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/icons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/icons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icons/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/icons/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/icons/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/icons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/icons/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icons/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/icons/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icons/android-icon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/icons/android-icon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icons/android-icon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='img/icons/manifest.json')}}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80235348-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body class="tune tune-{{type}}">

    <!-- The overlay -->
    <div id="errorOverlay" class="overlay">

      <!-- Overlay content -->
      <div class="overlay-content">
        <img class="spotify-logo" src="{{ url_for('static', filename='img/Spotify_Icon_RGB_Green.png')}}">
        <h1>Something just isn’t quite right…</h1>
      </div>

    </div>



    <div class="hat">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="pl-title"><b>A {{ type }} playlist</b></h1>
            <h2>Tweak the options below, or <a id="makeplaylist" class="underline-link link-{{type}}" href="#">make your playlist now.</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row options moods">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h3 class="radio-question">What kind of <i>{{ type }}</i> are you looking for?</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 col-xs-12">
          <div class="radio-input">
            <div class="radio-inline" data-bind="visible: moodSpectrum">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-bind="checked: moodOption">
                <label for="optionsRadios1">{{ tuners[0] }}</label>
            </div>
            <div class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-bind="checked: moodOption">
                <label for="optionsRadios2">{{ tuners[1] }}</label>
            </div>
            <div class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" data-bind="checked: moodOption">
                <label for="optionsRadios3">{{ tuners[2] }}</label>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row options">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h3>We will find {{ type }} songs similar to some of your favorites. </h3>
          <h3 class="instructions-line2">Uncheck any you don’t want us to use.</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 col-xs-12">
          <div class="song-info-loading"><img src="../static/img/spinner-{{type}}.gif" width="60" height="60"/></div>
          <div class="influencers hidden">
            <div class="song-info {{ type }}">

              <div data-bind="visible: moodOption() == 'option1'">
                <div data-bind="foreach: songs1">
                  <div class= "song-container">
                    <input class="hidden" type="checkbox" data-bind="checked: includeInfluencer" />
                    <label class="track-checkbox" data-bind="click: $root.checkboxClicked">
                      <div class = "inner-circle-checked" data-bind="visible: includeInfluencer">
                        <img src="{{ url_for('static', filename='img/checkmark.png')}}">
                      </div>
                      <div class="inner-circle-unchecked" data-bind="visible: !includeInfluencer()"></div>
                    </label>
                    <div class="coverart" data-bind="click: $root.checkboxClicked,style: { backgroundImage: 'url(\'' + coverart + '\')' }">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                    </div>
                    <div class="song-preview-area" data-bind="click: $root.playSong">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                      <table class="song-text">
                        <tr>
                          <td>
                            <h6 data-bind="text: title,css: { stricken: !includeInfluencer()}"></h6>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h5 data-bind="text: artist,css: { stricken: !includeInfluencer()}"></h5>
                          </tr>
                        </td>
                        <tr>
                          <td>
                            <div class="preview" data-bind="css: { {{ type }}: isPlaying()}"><div class='arrow-right' data-bind="css: { {{ type }}: isPlaying()}"></div>Play Preview</div>
                          </tr>
                        </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div data-bind="visible: moodOption() == 'option2'">
                <div data-bind="foreach: songs2">
                  <div class= "song-container">
                    <input class="hidden" type="checkbox" data-bind="checked: includeInfluencer" />
                    <label class="track-checkbox" data-bind="click: $root.checkboxClicked">
                      <div class = "inner-circle-checked" data-bind="visible: includeInfluencer">
                        <img src="{{ url_for('static', filename='img/checkmark.png')}}">
                      </div>
                      <div class="inner-circle-unchecked" data-bind="visible: !includeInfluencer()"></div>
                    </label>
                    <div class="coverart" data-bind="click: $root.checkboxClicked,style: { backgroundImage: 'url(\'' + coverart + '\')' }">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                    </div>
                    <div class="song-preview-area" data-bind="click: $root.playSong">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                      <table class="song-text">
                        <tr>
                          <td>
                            <h6 data-bind="text: title,css: { stricken: !includeInfluencer()}"></h6>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h5 data-bind="text: artist,css: { stricken: !includeInfluencer()}"></h5>
                          </tr>
                        </td>
                        <tr>
                          <td>
                            <div class="preview" data-bind="css: { {{ type }}: isPlaying()}"><div class='arrow-right' data-bind="css: { {{ type }}: isPlaying()}"></div>Play Preview</div>
                          </tr>
                        </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div data-bind="visible: moodOption() == 'option3'">
                <div data-bind="foreach: songs3">
                  <div class= "song-container">
                    <input class="hidden" type="checkbox" data-bind="checked: includeInfluencer" />
                    <label class="track-checkbox" data-bind="click: $root.checkboxClicked">
                      <div class = "inner-circle-checked" data-bind="visible: includeInfluencer">
                        <img src="{{ url_for('static', filename='img/checkmark.png')}}">
                      </div>
                      <div class="inner-circle-unchecked" data-bind="visible: !includeInfluencer()"></div>
                    </label>
                    <div class="coverart" data-bind="click: $root.checkboxClicked,style: { backgroundImage: 'url(\'' + coverart + '\')' }">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                    </div>
                    <div class="song-preview-area" data-bind="click: $root.playSong">
                      <div class="inactive-overlay" data-bind="visible: !includeInfluencer()"></div>
                      <table class="song-text">
                        <tr>
                          <td>
                            <h6 data-bind="text: title,css: { stricken: !includeInfluencer()}"></h6>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h5 data-bind="text: artist,css: { stricken: !includeInfluencer()}"></h5>
                          </tr>
                        </td>
                        <tr>
                          <td>
                            <div class="preview" data-bind="css: { {{ type }}: isPlaying()}"><div class='arrow-right' data-bind="css: { {{ type }}: isPlaying()}"></div>Play Preview</div>
                          </tr>
                        </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <hr/>
      <div class="row options">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h3 class="radio-question">How long should the playlist be?</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 col-xs-12">
          <div class="radio-input">
            <div class="radio-inline">
                <input type="radio" name="playlistLength" id="optionsLength30" value="length30" data-bind="checked: lengthOption">
                <label for="optionsLength30">30 mins</label>
            </div>
            <div class="radio-inline">
                <input type="radio" name="playlistLength" id="optionsLength60" value="length60" data-bind="checked: lengthOption">
                <label for="optionsLength60">60 mins</label>
            </div>
            <div class="radio-inline">
                <input type="radio" name="playlistLength" id="optionsLength90" value="length90" data-bind="checked: lengthOption">
                <label for="optionsLength90">90 mins</label>
            </div>
          </div>
        </div>
      </div>
      <hr/>


      <div class="row submit">
        <div class="col-xs-12">
          <div class="button-wrapper">
            <button class="btn btn-default submit-button {{ type }}" id="go-to-playlist">Make my playlist</button>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row footer">
        <div class="col-xs-12">
          <div class="footer-text text-right">
            Song previews provided by Spotify
            <img height="24px" width="24px" class="spotify-logo" src="{{ url_for('static', filename='img/Spotify_Icon_RGB_Green.png')}}">
          </div>
        </div>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js"></script>
    <script src="../static/js/tune.js"></script>
  </body>
</html>
